body{
    font-family: Arial
    padding: 0px;
    margin: 0px;
    background-color: #e0ffff;
}

ul{
    font-family: Arial
    text-align: left;
}

.header{
    padding: 2px;
    text-align: center;
    background: #ADD8E6;
}

.button1{
    font-family: Arial
    background-color: #e0ffff;
    border: black;
    color: orange;
    text-align: center;
    display: in-line block;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

/* SHOW HOVER MESSAGE*/
[type=radio] + img:onclick{
    background-color: orange;

}

/* Style button for forms */
.btn {
  background-color: Green; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: DarkGreen;
}

/* The following code is only for the navigation bar*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial;
  color: white;
  text-align: right;
  padding-right: 10px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #006400;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.homebox {
    background-color: #FFFFFF;
    padding: 10px;
    scroll-padding: 10px;
    margin: 50px;
    width: 60%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.logback{
    background-image: url(loginBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 750px;
}

.logbox {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.regbox {
    background-color: #FFFFFF;
    width: 400px;
    height: 650px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.errors{
    font-size: 10px;
}
.sign {
    padding-top: 40px;
    color: #228B22;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 15px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #3CB371, #006400);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.wordColor {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #3CB371;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.wordColor2 {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #3CB371;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;

}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #3CB371;
    text-decoration: none
}


@media (max-width: 600px) {
    .main {
        border-radius: 0px;
}
.topicBox {
    background-color: #3CB371;
    padding: 10px;
    scroll-padding: 10px;
    margin: 50px;
    width: 800px;
    height: 600px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

inputN {
   padding-top: 0;
   padding-left: 0;
   line-height: 1em; // this probably doesn't matter
}
